{% extends 'world_happiness/base.html' %}

{% block container %}

<div class="container">
    <h2>Subir CSV de Países</h2>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Seleccionar archivo CSV:</label>
        <input type="file" name="csv_file" accept=".csv" required>

        <button type="submit">Subir y Cargar</button>
    </form>
</div>

{% endblock %}